html {
    background-color: #231f20;
    color: #be1e2d;
    scroll-behavior: smooth;
    min-width: 550px;
}

body {
    row-gap: 15px;
}

.headcontainer {
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1024px;
    margin: 0 auto;
    box-shadow: 0px 5px 4.56px rgba(0, 0, 0, 0.35);
}

.prescontainer > h3 {
    font-size: 48px;
    font-family: "Georgia";
    color: rgb(1, 0, 0);
    line-height: 1.2;
    text-align: left;
    text-shadow: 0px 5px 4.56px rgba(0, 0, 0, 0.35);
    z-index: 3;
    max-width: 600px;
    text-align: left;
    padding-left: 50px;
    min-width: 550px;
}

.navbar > a {
    text-decoration: none;
    color: #be1e2d;
    font-size: 24px;
    font-family: Georgia;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}

.prescontainer {
    height: 750px;
    width: 100%;
    max-width: 1024px;
    min-width: 640px;
    background-image: url(assets/presbackground.jpg);
    background-size: cover;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-shadow: 0px 5px 4.56px rgba(0, 0, 0, 0.35);
}

.storecontainer {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-image: url(assets/storebackground.jpg);
    background-size: cover;
    box-shadow: 0px 5px 4.56px rgba(0, 0, 0, 0.35);
}

.footcontainer {
    width: 100%;
    max-width: 1024px;
    background-image: url(assets/footbackground.jpg);
    background-size: cover;
    margin: 0 auto;
    box-shadow: 0px 5px 4.56px rgba(0, 0, 0, 0.35);
}

.presText {
    font-size: 11pt;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: white;
}

.storecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.storeProd {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 15px;
}

.storePic {
    width: 440px;
    height: 420px;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 7px 5.4px 0.6px rgba(0, 0, 0, 0.35);
}

#pic1 {
    background-image: url(assets/storeprod22.png);
    background-size: 100%;
}

#pic2 {
    background-image: url(assets/storeprod32.png);
    background-size: 100%;
}

.storeBut {
    width: 440px;
    height: 70px;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 15px;
    background-color: rgb(35, 31, 32);
    font-size: 32px;
    font-family: "Georgia";
    color: rgb(249, 243, 244);
    line-height: 1.2;
}

.storeBut > a {
    text-decoration: none;
    color: rgb(249, 243, 244);
}

.footcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactPic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: white;
    margin-top: 100px;
}

#pic3 {
    background-image: url(assets/pic3.png);
    background-size: 100%;
}

#pic4 {
    background-image: url(assets/pic4.png);
    background-size: 100%;
}

.contactText {
    font-size: 32px;
    text-align: center;
    color: rgb(249, 243, 244);
    font-family: "Georgia";
    line-height: 1.2;
    text-shadow: 0px 5px 4.56px rgba(0, 0, 0, 0.35);
}

.contactInfo {
    width: 700px;
    height: 300px;
    color: rgb(249, 243, 244);
    font-size: 26px;
    text-shadow: 0px 5px 4.56px rgba(0, 0, 0, 0.35);
    line-height: 1.2;
    text-align: center;
}

#phoneTime {
    width: 250px;
    margin: 0 auto;
}

@media screen and (min-width: 1020px) {
    .storecontainer {
        flex-direction: row;
        height: 1050px;
    }
    .footcontainer {
        height: 840px;
        max-width: 1024px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }
}
